[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nox = "*"
invoke = "*"
jupyterlab = "*"
ipython = "*"
pytest = "*"

[packages]
fractopo = "==0.0.2"
geopandas = "*"
click = "*"
pandera = "*"

[requires]
python_version = "3.8"
