[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
nox = "*"
invoke = "*"
nbsphinx = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
ipython = "*"

[packages]
xlrd = {editable = true, path = "/home/nialov/nikke-projects/Pipenv_projects/fractopo"}
click = "*"
jupyterlab = "*"
pandera = "*"

[requires]
python_version = "3.8"
