[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black-nb = "*"
click = "*"
flake8-nb = "*"
invoke = "*"
organize-tool = "*"
fractopo = "==0.0.2"
jupyterlab = "*"
papermill = "*"
pandera = "*"
pytest = "*"
fractopo-scripts = {editable = true, path = "/home/nialov/nikke-projects/Pipenv_projects/fractopo_scripts"}
tabulate = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
